<div class="jumbotron">
  <h1><%= @store.name() %></h1>
  <div class="row">
    <div class="col col-md-3">
      <!-- Home button '/' -->
      <a href="/"><button type="button" class="btn btn-success">Home</button></a>
    </div>
    <div class="col col-md-6">
      <!-- Edit store name thru form input -->
      <form action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <button type="submit" class="btn btn-warning">Rename</button>
        <input type="text" name="rename">
      </form>
    </div>
    <div class="col col-md-3">
      <!-- Delete-Store button through hidden form input -->
      <form class="" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">Delete Store</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-md-6">
    <h3>Shoes Currently Stocked:</h3>
    <ul>
      <% @store.shoes.each do |x|%>
        <li><%= x.brand %></li>
      <% end %>
    </ul>
  </div>
  <div class="col col-md-6">
    <h3>Unstocked Shoes:</h3>
    <% if @shoes.any? %>
      <!-- <form action="/store/add_shoe/<%= @store.id %>" method="post">
        <% @unstocked_shoes.each do |x| %>
            <label>
              <input type="checkbox" name=" s" value="<%= x.id %>"><%= x.brand %>
            </label>
        <% end %>
        <button type="submit" name="button">Add Shoe(s)</button>
      </form> -->

      <form action="/store/add_shoe/<%= @store.id %>" method="post">
        <label for="shoe_id">Select a Brand</label>
        <select id='shoe_id' name='shoe_id' type='text'>
          <% @unstocked_shoes.each() do |x| %>
            <option value="<%= x.id()%>"> <%= x.brand() %> </option>
          <% end %>
        </select>
        <button type="submit">Add Brand</button>
      </form>

    <% else %>
      <p>There are no shoes yet</p>
    <% end %>
  </div>

</div>
